* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/wave-moving.svg), linear-gradient(45deg, #adbbff, #9e94c3);
	background-repeat: no-repeat;
	background-position: bottom;
}
